@using FamilyBudget.Www.App_Helpers
@using FamilyBudget.Www.Models.Home
@model FamilyBudget.Www.Models.Widgets.AccountBalanceWidgetModel

<div class="col-md-12">
    @{
        if (Model != null && Model.Accounts != null && Model.Accounts.Any())
        {
            <blockquote class="bg-success">
                <h2 style="font-family: Verdana">@Model.Wealth.Value.ToString("N") (@Model.Wealth.Currency)</h2>
                <footer>Суммарный эквивалент в основной валюте</footer>
            </blockquote>
            <div class="table-responsive">
                <table class="table table-bordered table-hover" style="font-family: Verdana; font-size: 12px;">
                    <thead>
                        <tr>
                            <th class="col-md-4">Счет</th>
                            <th class="col-md-2">Остаток</th>
                            <th class="col-md-2">Эквивалент</th>
                            <th class="col-md-2">Курс</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (AccountRateView accountView in Model.Accounts)
                        {
                            string rateString = " - ";
                            string equivalent = " - ";
                            string remaining = string.Format("{0} {1}", accountView.Account.Balance.ToString("N"), accountView.Account.Currency.Code.ToCurrencySymbol());
                            if (accountView.RateView != null)
                            {
                                equivalent = string.Format("{0} {1}", accountView.RateView.Equivalent.ToString("N"), Model.MainCurrency);
                                rateString = string.Format("1 x {0} = {1} {2}",
                                    accountView.RateView.OriginCurrency,
                                    accountView.RateView.SellRate.ToString("F"),
                                    accountView.RateView.MainCurrency);
                            }
                            <tr class="warning">
                                <td>@accountView.Account.DisplayName</td>
                                <td><b>@remaining</b></td>
                                <td><b>@equivalent</b></td>
                                <td>@rateString</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div>Счета не найдены</div>
        }
    }
</div>
