@model FamilyBudget.v3.Models.DashboardModel

@{
    var getStyle = new Func<decimal, string>((total) => total >= 0 ? "text-success" : "text-danger");
}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h4 text-xl-center font-weight-bold text-gray-900 text-uppercase mb-1">Баланс</div>
                            <div class="h2 mb-0 text-xl-center font-weight-bold @getStyle(Model.Wealth.Value)">@Model.Wealth.Value.ToString("N")</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xl-center font-weight-bold text-success text-uppercase mb-1">
                                <i class="fas fa-ruble-sign fa-2x text-gray-800"></i>
                            </div>
                            <div class="h3 mb-0 text-xl-center font-weight-bold text-gray-800">@Model.RubleWealth.Value.ToString("N")</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xl-center font-weight-bold text-success text-uppercase mb-1">
                                <i class="fas fa-dollar-sign fa-2x text-gray-800"></i>
                            </div>
                            <div class="h3 mb-0 text-xl-center font-weight-bold text-gray-800">@Model.AccountRateViews[0].Balance.ToString("N")</div>
                            <div class="h6 mb-0 text-xl-center font-weight-bold text-gray-800">* @Model.AccountRateViews[0].Rate.ToString("N") = @Model.AccountRateViews[0].Equivalent.ToString("N")</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xl-center font-weight-bold text-success text-uppercase mb-1">
                                <i class="fas fa-euro-sign fa-2x text-gray-800"></i>
                            </div>
                            <div class="h3 mb-0 text-xl-center font-weight-bold text-gray-800">@Model.AccountRateViews[1].Balance.ToString("N")</div>
                            <div class="h6 mb-0 text-xl-center font-weight-bold text-gray-800">* @Model.AccountRateViews[1].Rate.ToString("N") = @Model.AccountRateViews[1].Equivalent.ToString("N")</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xl-center font-weight-bold text-gray-800 text-uppercase mb-1">Среднемесячный доход</div>
                            <div class="text-xl-center font-weight-bold text-gray-800 mb-1">(за последние @Model.AverageLastMonthCount месяцев)</div>
                            <div class="h4 mb-0 text-xl-center font-weight-bold @getStyle(Model.AverageIncomePerMonth.Value)">@Model.AverageIncomePerMonth.Value.ToString("N")</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xl-center font-weight-bold text-gray-800 text-uppercase mb-1">Среднемесячный расход</div>
                            <div class="text-xl-center font-weight-bold text-gray-800 mb-1">(за последние @Model.AverageLastMonthCount месяцев)</div>
                            <div class="h4 mb-0 text-xl-center font-weight-bold text-danger">@Model.AverageExpenditurePerMonth.Value.ToString("N")</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xl-center font-weight-bold text-gray-800 text-uppercase mb-1">Среднемесячная чистая прибыль</div>
                            <div class="text-xl-center font-weight-bold text-gray-800 mb-1">(за последние @Model.AverageLastMonthCount месяцев)</div>
                            <div class="h4 mb-0 text-xl-center font-weight-bold @getStyle(Model.AverageProfitPerMonth.Value)">@Model.AverageProfitPerMonth.Value.ToString("N")</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xl-center font-weight-bold text-gray-800 text-uppercase mb-1">Отправлено на ИИС</div>
                            <div class="h3 mb-0 text-xl-center font-weight-bold text-primary">@Model.AllIISExpenditureTotal.Value.ToString("N")</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xl-center font-weight-bold text-gray-800 text-uppercase mb-1">Отправлено на Брокерский счет</div>
                            <div class="h3 mb-0 text-xl-center font-weight-bold text-primary">@Model.AllBrokerAccountExpenditureTotal.Value.ToString("N")</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

