@using System.Linq;
@using FamilyBudget.v3.Models;
@using FamilyBudget.v3.App_CodeBase.Tinkoff.Models;
@model FamilyBudget.v3.Models.InvestmentModel

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="text-center mb-4">
        <h1 class="h3 mb-0 text-gray-800 font-weight-bold">Инвестирование</h1>
    </div>

    <div class="row">
        <div class="col-xl-12 col-md-6 mb-4">
            @if (Model.Message != null)
            {
                @Html.Partial("~/Views/Shared/MessageModel.cshtml", Model.Message)
            }
        </div>
    </div>

    @{
        @helper RenderAccountHeader(InvestmentAccount account)
        {
            string textColorCssClass = account.TotalDelta >= 0 ? "text-success" : "text-danger";
            <div class="card border-left-success shadow py-2 mb-4">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h5 text-xl-center font-weight-bold text-gray-900 text-uppercase mb-1">@account.Name</div>
                            <div class="h2 mb-0 text-xl-center font-weight-bold text-primary">
                                @account.TotalBalancePresentation
                            </div>
                            <div class="h6 mb-0 text-xl-center font-weight-bold @textColorCssClass">
                                @RenderArrow(account.TotalDeltaType)
                                @account.TotalDeltaPresentation (@account.TotalDeltaPercent%)
                            </div>
                        </div>
                        @if (account.Messages.Any())
                        {
                            string modalId = "modalAccountInfo_" + account.Id;
                            @RenderModal(modalId, "Информация (" + @account.Name + ")", false, account.Messages);
                        }
                    </div>
                </div>
            </div>
        }
        @helper RenderArrow(FamilyBudget.v3.App_CodeBase.Tinkoff.Models.DeltaType deltaType)
        {
            if (deltaType == FamilyBudget.v3.App_CodeBase.Tinkoff.Models.DeltaType.Negative)
            {
                <div class="triangle-red">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" viewBox="0 0 12 16">
                        <g fill="none" fill-rule="evenodd">
                            <rect width="12" height="16"></rect>
                            <polygon fill="none" class="icon__fill" points="0 12 8 12 4 5" transform="matrix(1 0 0 -1 0 17)">
                            </polygon>
                        </g>
                    </svg>
                </div>
            }
            if (deltaType == FamilyBudget.v3.App_CodeBase.Tinkoff.Models.DeltaType.Positive)
            {
                <div class="triangle-green">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" viewBox="0 -1 12 16">
                        <g fill="none" fill-rule="evenodd">
                            <rect width="12" height="16"></rect>
                            <polygon fill="none" class="icon__fill" points="0 11 8 11 4 4"></polygon>
                        </g>
                    </svg>
                </div>
            }
        }
        @helper RenderModal(string modalId, string caption, bool isSmall, List<Message> messages)
        {
            if (messages == null || !messages.Any())
            {
                return;
            }

            string modalTriggerButtonCssClass = isSmall ? "btn-sm" : "";
            <div class="col-auto account-messages-trigger" data-toggle="modal" data-target="#@modalId">
                <a href="#" class="btn btn-warning btn-circle @modalTriggerButtonCssClass">
                    <i class="fas fa-exclamation-triangle"></i>
                </a>
            </div>
            <div class="modal fade" id="@modalId" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">@caption</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <ul>
                                @foreach (var message in messages)
                                {
                                    <li>@Html.Raw(message.Text)</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
        @helper RenderGroup(string parentId, string id, string caption, string modalCaption, TinkoffPortfolioGroup data)
        {
            if (data.Positions != null)
            {
                <div class="card mb-1">
                    @{
                        string headingId = parentId + "_heading_" + id;
                        string collapseId = parentId + "_collapse_" + id;
                    }
                    <div class="card-header py-3" id="@headingId">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <h4 class="m-0 font-weight-bold text-primary cursor-pointer" data-toggle="collapse" data-target="#@collapseId" aria-controls="@collapseId">
                                    <span class="text-center">@caption</span>
                                </h4>
                            </div>
                            @if (data.Messages != null && data.Messages.Any())
                            {
                                string modalId = "modalGroupInfo_" + parentId + "_" + id;
                                @RenderModal(modalId, "Информация (" + modalCaption + ")", true, data.Messages);
                            }
                        </div>
                    </div>
                    <div id="@collapseId" class="collapse" data-parent="#@parentId">
                        @RenderGrid(data.Positions)
                    </div>
                </div>
            }
        }
        @helper RenderGrid(dynamic source)
        {
            if (source != null)
            {
                <table class="table-instruments">
                    @foreach (var sourceItem in source)
                    {
                        <tr class="table-instruments-row">
                            <td class="table-instruments-column">
                                <a href="@sourceItem.TickerPageLink" target="_blank">
                                    <div class="table-instruments-info">
                                        <div class="table-instruments-info-avatar">
                                            <img class="stock-position-avatar" src="@sourceItem.AvatarImageLink" />
                                        </div>
                                        <div class="table-instruments-info-details">
                                            <div class="table-instruments-info-details-name">@sourceItem.Name</div>
                                            <div class="table-instruments-info-details-ticker">@sourceItem.Balance шт.</div>
                                        </div>
                                    </div>
                                </a>
                            </td>
                            <td class="table-instruments-column">
                                <a href="@sourceItem.TickerPageLink" target="_blank">
                                    @if (!string.IsNullOrEmpty(sourceItem.Ticker))
                                    {
                                        <div class="row no-gutters align-items-center">
                                            <div class="col text-gray-800 table-instruments-price-details">
                                                <div class="mb-0 font-weight-bold text-right">@sourceItem.CurrentTotalInPortfolioPresentation</div>
                                                <div class="mb-0 text-right table-instruments-price-details-delta">
                                                    @RenderArrow(sourceItem.CurrentDeltaType)
                                                    @sourceItem.CurrentDeltaPresentation (@sourceItem.CurrentDeltaPercent%)
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="row no-gutters align-items-center">
                                            <div class="col">
                                                <div class="mb-0 font-weight-bold text-gray-800 text-right">@sourceItem.CurrentTotalInPortfolioPresentation</div>
                                            </div>
                                        </div>
                                    }
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            }
        }

        if (Model != null && Model.Accounts.Any())
        {
            <div class="row">
                @foreach (var account in Model.Accounts)
                {
                    <div class="col-lg-6">
                        @RenderAccountHeader(account)
                        <div id="accordionInstruments_@account.Id">
                            @RenderGroup("accordionInstruments_" + @account.Id, "stocks", "Акции", @account.Name + " - Акции", account.Stocks)
                            @RenderGroup("accordionInstruments_" + @account.Id, "etfs", "Фонды", @account.Name + " - Фонды", account.Etfs)
                            @RenderGroup("accordionInstruments_" + @account.Id, "bonds", "Облигации", @account.Name + " - Облигации", account.Bonds)
                            @RenderGroup("accordionInstruments_" + @account.Id, "currencies", "Валюта", @account.Name + " - Валюта", account.Currencies)
                        </div>
                    </div>
                }
            </div>
        }
    }
</div>
