<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/lodash")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/lodash")
    @Scripts.Render("~/bundles/globalize")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/initialize")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Scripts", false)
</head>
<body id="page-top">
    <div id="wrapper">
        @{
            var sitemap = FamilyBudget.v3.App_CodeBase.SitemapHelper.GetSitemap();
            var funcIsActiveCssClass = new Func<FamilyBudget.v3.App_CodeBase.SitemapEntry, string>((s) => s.IsActive ? "active" : "");
        }
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Family Budget v3.0</div>
            </a>

            @if (sitemap != null && sitemap.MenuList != null)
            {
                foreach (var menuItem in sitemap.MenuList)
                {
                    if (menuItem.IsDivider)
                    {
                        <hr class="sidebar-divider my-0" />
                    }
                    else
                    {
                        if (menuItem.Children != null && menuItem.Children.Any())
                        {
                            <li class="nav-item">
                                @{
                                    string linkId = "collapse" + menuItem.Id;
                                }
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#@linkId" aria-expanded="true" aria-controls="@linkId">
                                    <i class="fas fa-fw @menuItem.IconCssClass"></i>
                                    <span>@menuItem.Title</span>
                                </a>
                                <div id="@linkId" class="collapse" data-parent="#accordionSidebar">
                                    <div class="bg-white py-2 collapse-inner rounded">
                                        @foreach (var childItem in menuItem.Children)
                                        {
                                            <a class="collapse-item @funcIsActiveCssClass(childItem)" href="@childItem.Url">@childItem.Title</a>
                                        }
                                    </div>
                                </div>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item @funcIsActiveCssClass(menuItem)">
                                <a class="nav-link" href="@menuItem.Url">
                                    <i class="fas fa-fw @menuItem.IconCssClass"></i>
                                    <span>@menuItem.Title</span>
                                </a>
                            </li>
                        }

                    }
                }
            }

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>

        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - User Information -->
                        <li class="nav-item">
                            <a href="/Expenditure/Create" class="btn btn-danger btn-circle mr-2 d-block d-md-none pull-right">
                                <i class="fa fa-arrow-circle-down align-center"></i>
                            </a>
                            <a href="/Income/Create" class="btn btn-success btn-circle mr-2 d-block d-md-none pull-right">
                                <i class="fa fa-arrow-circle-up mr-3"></i>
                            </a>
                            <a class="btn btn-danger pull-right d-none d-md-block d-lg-block d-xl-block" href="/Expenditure/Create">
                                <i class="fas fa-clipboard-list fa-fw text-gray-400"></i>
                                Создать расход
                            </a>
                            <a class="btn btn-success pull-right mr-3 d-none d-md-block d-lg-block d-xl-block" href="/Income/Create">
                                <i class="fas fa-clipboard-list fa-fw text-gray-400"></i>
                                Создать доход
                            </a>
                        </li>
                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                @RenderBody()
                <!-- End Page Content -->
            </div>

            <!-- Footer -->
            @*<footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Your Website 2019</span>
                        </div>
                    </div>
                </footer>*@
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    @Scripts.Render("~/bundles/custom")
</body>
</html>