@using FamilyBudget.v3.App_Helpers
@model FamilyBudget.v3.Areas.Administration.Models.ExpenditureCategoryModel

@{
    ViewBag.Title = "Новая категория расходов";
}
@Scripts.Render("~/bundles/jqueryvalglobalize")
@Scripts.Render("~/bundles/jqueryval")

<div class="row justify-content-center mb-4">
    <div class="col-md-8 col-md-offset-2">
        <div class="card">
            <div class="card-header text-center py-3">
                <h4 class="m-0 font-weight-bold text-primary">Новая категория расходов</h4>
            </div>

            @using (Html.BeginForm())
            {
                <div class="card-body">
                    @Html.AntiForgeryToken()
                    @Html.Raw(Html.FamilyBudgetValidationSummary())
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            @Html.LabelFor(model => model.Object.Name)
                            @Html.TextBoxFor(model => model.Object.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Object.Name)
                        </div>

                        <div class="col-md-6 mb-3">
                            @Html.LabelFor(model => model.Object.Description)
                            @Html.TextBoxFor(model => model.Object.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Object.Description)
                        </div>
                        <div class="col-md-12">
                            <div class="row justify-content-between">
                                <div class="col-6">
                                    @{
                                        string queryParams = "/Administration/ExpenditureCategory" + QueryStringParser.DecodeGridParameters(Model.PageIndex, Model.SortField, Model.SortDirection);
                                        <a class="btn btn-primary" href="@queryParams">Назад к списку категорий</a>
                                    }
                                </div>
                                <div class="col-6 text-right">
                                    <div>
                                        <button name="submit" type="submit" class="btn btn-success" value="1">Сохранить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
