@using FamilyBudget.v3.App_Helpers
@model FamilyBudget.v3.Areas.Administration.Models.ExpenditureCategoryModel

@{
    ViewBag.Title = "Редактирование категории расходов";
}

@Scripts.Render("~/bundles/jqueryvalglobalize")
@Scripts.Render("~/bundles/jqueryval")

<div class="container-fluid">

    <div class="row justify-content-center mb-4">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8 col-xl-offset-2">
            <div class="card">
                <div class="card-header text-center py-3">
                    <h4 class="m-0 font-weight-bold text-primary">Редактирование категории расходов</h4>
                </div>

                @using (Html.BeginForm())
                {
                    <div class="card-body">
                        @Html.AntiForgeryToken()
                        @Html.Raw(Html.FamilyBudgetValidationSummary())
                        @Html.HiddenFor(model => model.Object.ID)
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-3">
                                @Html.LabelFor(model => model.Object.Name)
                                @Html.TextBoxFor(model => model.Object.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Object.Name)
                            </div>

                            <div class="form-group col-md-6 mb-3">
                                @Html.LabelFor(model => model.Object.Description)
                                @Html.TextBoxFor(model => model.Object.Description, new { @class = "form-control" })
                            </div>

                            @Html.Partial("~/Views/Shared/DisplayTemplates/_FormActionButtons.cshtml", Model.FormActionButtons)
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
