@using FamilyBudget.Www.App_CodeBase
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/bundles/css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/globalize")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/metisMenu")
        @Scripts.Render("~/bundles/initialize")
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("Scripts", false)
    </head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><b>Family Budget v2.0</b> (@AssemblyInfoHelper.GetAssemblyInfo())</a>
                </div>

                @Html.Partial("_LoginPartial")

                <div class="navbar-default navbar-static-side" role="navigation">
                    <div class="sidebar-collapse">
                        <ul class="nav" id="side-menu">
                            <li>
                                <a href="/"><i class="fa fa-dashboard fa-fw"></i> Главная</a>
                            </li>
                            <li>
                                <a href="/"><i class="fa fa-money fa-fw"></i> Работа с деньгами<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="/Income?sort=Date&sortdir=DESC">Доходы</a>
                                    </li>
                                    <li>
                                        <a href="/Expenditure?sort=Date&sortdir=DESC">Расходы</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/"><i class="fa fa-gear fa-fw"></i> Админнистрирование<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="/Administration/Account">Счета</a>
                                    </li>
                                    <li>
                                        <a href="/Administration/Currency">Справочник валют</a>
                                    </li>
                                    <li>
                                        <a href="/Administration/ExpenditureCategory">Категории затрат</a>
                                    </li>
                                    <li>
                                        <a href="/Administration/IncomeCategory">Категории доходов</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
            <div id="page-wrapper">
                @RenderBody()
            </div>
        </div>

        @*<script src="~/Scripts/plugins/metisMenu/jquery.metisMenu.js"></script>*@

    </body>
</html>